
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 24px;
}

.header {
    grid-column: 1 / 13;
    grid-row: 1/2;
    display: grid;
    gap: 0;
    grid-template-columns: subgrid;
    grid-template-rows: 2fr 1fr;
}
.top-bar {
    grid-column: 1 / 13;
    grid-row: 1;
    display: grid;
    gap: inherit;
    grid-template-columns: subgrid;
    grid-template-rows: 2fr;

    /* Layout Properties */

    top: 0px;
    left: 0px;
    width: 1440px;
    height: 64px;

    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 4px #171E3173;
    opacity: 1;
}

.blue-bar {
    grid-column: 1 / 13;
    grid-row: 2;
    display: grid;
    gap: inherit;
    grid-template-columns: subgrid;
    grid-template-rows: 1fr;

    top: 64px;
    left: 0px;
    width: 1440px;
    height: 48px;
    
    background: #040138 0% 0% no-repeat padding-box;
    opacity: 1;
}

.body {
    grid-column: 1 / 13;
    grid-row: 3;
    display: grid;
    gap: inherit;
    grid-template-columns: subgrid;
    grid-template-rows: 2fr 1fr;
}

#subgrid {
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    display: grid;
    gap: inherit;
    grid-template-columns: subgrid;
    grid-template-rows: 2fr 1fr;
}

.footer {
    grid-column: 1 / 13;
    grid-row: -1;
    display: grid;
    gap: 0;
    grid-template-columns: subgrid;
    grid-template-rows: 2fr 1fr;
}
